@import "settings";
@import "foundation";
@import url(http://fonts.googleapis.com/css?family=Josefin+Sans|Cinzel+Decorative|Pontano+Sans);
.title {
	font-family: "Cinzel Decorative";
	text-transform: uppercase;
}
.band {
	box-shadow: 0px 0px 5px 0px hsla(0, 0%, 0%, 1.0);
	height: 80%;
	margin-bottom: 3em;
}

#hero {
  display: block;
  position: relative;
  max-height: 80%;
}

#hero:after {
	background: url("http://lorempixel.com/1920/1080/nature") repeat fixed 0 center / cover  hsla(0, 0%, 0%, 0);
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0.32;
	position: absolute;
	right: 0;
	top: 0;
	z-index: -1;
}

#logo {
	border-radius: $global-rounded;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
